@model TranThanhTung_2310900115.Models.TttEmployee

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>TttEmployee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TttEmpName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TttEmpName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TttEmpLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TttEmpLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TttEmpStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TttEmpStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TttEmpStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TttEmpStatus)
        </dd>
    </dl>
</div>

<div class="mt-3 d-flex gap-2">
    <a asp-action="TttEdit" asp-route-id="@Model?.TttEmpId" class="btn btn-warning">
        <i class="bi bi-pencil-square"></i> Sửa
    </a>
    <a asp-action="TttIndex" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Quay lại
    </a>
</div>
