@model IEnumerable<Ttt_lab04.Models.TttBook>
@{
    ViewData["Title"] = "List Book";
}
<h1>Thông tin các cuốn sách</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>BookId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var TttItem in Model)
        {
            <tr>
                <td>@TttItem.TttId</td>
                <td>@TttItem.TttTitle</td>
                <td>@TttItem.TttDescription</td>
                <td>
                    <img src="@TttItem.TttImage" alt="Ảnh sách" class="img-thumbnail shadow-sm" style="height: 120px; width: auto; object-fit: contain;" />
                </td>
                <td>@TttItem.TttPrice</td>

            </tr>
        }
    </tbody>
</table>
